<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="error"/>
    <logger name="org.springboot.sample" level="error" />
    <logger name="com.beck.controller" level="info" />

    <property name="log.path" value="D:/Work/projects/JAVA-STD/helloworld/logs/helloworld.log" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] [req_id:%X{req_id}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.path}</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>helloworld.%d{yyyy-MM-dd}.log</FileNamePattern>
            <!--<maxFileSize>100MB</maxFileSize>-->
            <maxHistory>7</maxHistory>
            <!--<totalSizeCap>3GB</totalSizeCap>-->
        </rollingPolicy>
        <encoder>
            <pattern>%date %level [%thread] %logger{10} [%file:%line] [req_id:%X{req_id}] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="info">
        <!--<appender-ref ref="STDOUT" />-->
        <appender-ref ref="FILE" />
    </root>
</configuration>