<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射dao -->
<mapper namespace="com.beck.mapper.UserMapper">
    <!-- 结果集类型 -->
    <resultMap id="findAllUserBean" type="com.beck.entities.User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="ecrptypwd" column="ecrptypwd"/>
        <result property="createdate" column="createdate"/>
    </resultMap>

    <select id="findAll" resultMap="findAllUserBean">
        SELECT * FROM `user`
    </select>
    <select id="findOneForName" resultMap="findAllUserBean" parameterType="String">
        SELECT * FROM `user` WHERE #{username}
    </select>
    <select id="loginApp" resultType="String" parameterType="Map">
        SELECT COUNT(0) as total FROM `user` WHERE `username` = #{username} AND `ecrptypwd` = #{ecrptypwd}
    </select>

    <insert id="registerApp">
        INSERT INTO user (username, ecrptypwd) VALUES (#{username},#{ecrptypwd})
    </insert>


</mapper>