<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射dao -->
<mapper namespace="com.beck.mapper.UserMapper">
    <!-- 结果集类型 -->
    <resultMap id="roleBean" type="com.beck.bean.Role">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="departmentBean" type="com.beck.bean.Department">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
    </resultMap>
    <resultMap id="userBean" type="com.beck.bean.User">
        <!-- 映射字段 -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="password" property="password"/>
        <result column="createdate" property="createdate"/>
        <collection property="department">
            <id column="id" property="id"/>
            <id column="name" property="name"/>
        </collection>
        <collection  property="role">
            <id column="id" property="id"/>
            <id column="name" property="name"/>
        </collection>
    </resultMap>

    <select id=""></select>
    <update id=""></update>
    <insert id=""></insert>
    <delete id=""></delete>
</mapper>